<header>
    <nav>
        <div class="nav-wrapper">
            <ul>
                <li class="back-home"><a class="logo-link"><i class="material-icons">home</i></a></li>
                <li class="nav-back"><a class="back-link"><i class="material-icons">keyboard_arrow_left</i></a></li>
                <li class="name">Name</li>
            </ul>
            
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a class="home-link">Home</a></li>
                <li><a class="select-link">Selection</a></li>
                <li><a class="map-link">Map</a></li>
            </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-nav">
        <li><a class="home-link">Home</a></li>
        <li><a class="select-link">Selection</a></li>
        <li><a class="map-link">Map</a></li>
    </ul>
</header>