<div class="row">
    <!-- <div id="map"></div> -->
    <img class="responsive-img col s12 m6 l4 offset-m3 offset-l4 circle previewparcours" src="./img/parcours.jpg" alt="place holder">
    <a class="waves-effect waves-light waves-green green lighten-1 btn col s6 m4 l4 offset-s3 offset-m4 offset-l4 buttonparcours modal-trigger" href="#modal1"><i class="material-icons right">looks_one</i>Parcours</a>
    <a class="waves-effect waves-light waves-blue blue lighten-1 btn col s6 m4 l4 offset-s3 offset-m4 offset-l4 buttonparcours modal-trigger" href="#modal2"><i class="material-icons right">looks_two</i>Parcours</a>
    <a class="waves-effect waves-light waves-yellow yellow darken-1 btn col s6 m4 l4 offset-s3 offset-m4 offset-l4 buttonparcours modal-trigger" href="#modal3"><i class="material-icons right">looks_3</i>Parcours</a>
</div>


