.buttonparcours {
    margin-bottom: 5px;
};

.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(121, 85, 72, 0.65);
};
.previewparcours{
    margin-top: 6em;
    margin-bottom: 2em;
};
#map {
    height: 400px;
    margin-bottom: 2em;
  }
  