h1
{
    width: 100%;
    background-color: rgb(165, 88, 236);
    text-align: center;
    color: rgb(61, 35, 155);
    padding: 12px;
}

p
{
    width: 100%;
    font-size: 1em;
    text-align: center;
    color: rgb(61, 35, 155);
    margin-bottom: 50px;
    height: auto;
}

.home-row 
{
    width: 100%;
    text-align: center;
}


// .btn-select {
//     background-color: rgb(106, 106, 240);
//     padding: 15px 25px;
//     border-radius: 10px;
//     box-shadow: 6px 6px 10px  rgb(106, 106, 240);


// .form {
//     background-color: rgb(79, 233, 79);
//     padding: 15px 100px;
//     border-radius: 10px;
//     box-shadow: 6px 6px 10px  rgb(79, 233, 79);
//         }