
.home-row 
{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;  
    margin-top: 50px
}

.logo
{
    width: 100%;
    text-align: center;
    margin-bottom: 320px;  
    margin-top: 130px;
}




