* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
li {
    list-style: none;
}
<<<<<<< HEAD
a {
    text-decoration: none;
}
=======
>>>>>>> 205eab1cf3265a1ed5d35912735c146beab90ba9
