<div class="screen-map">  
    <div class="container map-display">
        <div class="row timer">
            <div class="col s12 timer-display">
                <i class="material-icons">hourglass_empty</i>
                <p>00:00</p>
            </div>
        </div>  

        <div class="row map-tab">
            <div class="col s12 m6 map">
                <div class="display-map"></div>
            </div>

            <div class="col s12 m6 info">
                <div class="checkpoints">
                    <ul>
                        <li><span class="step step-checked"></span></li>
                        <li><span class="step"></span></li>
                        <li><span class="step"></span></li>
                        <li><span class="step"></span></li>
                        <li><span class="step"></span></li>
                    </ul>
                </div>
                
                <div class="validation">
                    <p>
                        Rendez vous au point
                        <br> "adresse"
                        <br> pour commencer votre parcours
                    </p>
    
                    <button class="waves-effect waves-light btn btn-validation">Valider<i class="material-icons right">check</i></button>
                </div>    
            </div>  
        </div>
    </div>
</div>